/* set default font size */
html {
    font-size: 16px;
}

/* remove default padding */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* remove border edges in navbar */
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

/* set navbar background color */
.bg-light {
    background-color: #72a98f !important;
}

/* set font styles for summary well */
#summary-fonts {
    font-weight: lighter;
    padding-right: 0.5rem;
}

/* center navbar */
.navbar-brand {
    height: auto !important;
}

/* center and inline summary numbers */
#summary-numbers {
    display: inline-flex;
    align-items: baseline;
}